.popupForm {
    padding: 10px 15px 10px 5px;
    width: 300px;
}

.popup_input {
    width: 100%;
    outline: none;
    border: 1px solid #656565;
    border-radius: 3px;
}

.popup_btn {
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
}

.popup_description {
    float: left;
    font-size: 14px;
}

.btn_add {
    margin-right: 15px;
}

.btn_add, .btn_delete {
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:4px 12px;
    text-decoration:none;
    border: none;
}

.btn_add:hover {
    cursor: pointer;
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
}

.btn_delete:hover{
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
}