@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

div .header {
    padding-top: 10px;
}

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.icon:hover {
    cursor: pointer;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-middle {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col-center {
    justify-content: center;
    text-align: center;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}

.search {
    outline: none;
    border: 1px solid #656565;
    border-radius: 3px;
}

.search:hover,:focus {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.13);
}

.calendar {
    display: block;
    position: relative;
    width: 100%;
    background: #f5ffdb;
    border: 1px solid #eee;
}

.calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: #494949;
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid #eee;
}

.calendar .body .cell {
    position: relative;
    height: 5em;
    border-right: 1px solid #eee;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
    transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
    background: #f5ffdb;
    transition: 0.5s ease-out;
}

.calendar .body .selected {
    border: 1px solid #2c6fee;
}

.calendar .body .today {
    background: rgba(114, 187, 255, 0.4);
}

.btn {
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:14px;
    padding:2px 10px;
    text-decoration:none;
    margin-top: 3px;
}

.update {
    margin-left: 5px;
}

.btn:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
}
.btn:active {
    position:relative;
}

a .btn:visited {
    text-decoration: none;
}

a .btn:active {
    text-decoration: none;
}

.calendar .body .row {
    border-bottom: 1px solid #eee;
}

.calendar .body .row:last-child {
    border-bottom: none;
}

.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .number {
    position: absolute;
    font-size: 82.5%;
    line-height: 1;
    top: .75em;
    right: .75em;
    font-weight: 700;
}

.calendar .body .disabled {
    color: #ccc;
    pointer-events: none;
}

.calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: #1a8fff;
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -.2em;
    right: -.05em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
    opacity: 0.05;
    transition: .5s ease-in;
}

.calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100%/7);
    width: calc(100%/7);
}
