.popupForm {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
}

.popup_input {
    width: 100%;
    outline: none;
    border: 1px solid #656565;
    border-radius: 3px;
}

.popup_btn {
    float: left;
    margin-bottom: 20px;
}

.popup_description {
    float: left;
    font-size: 14px;
}

.btn_done {
    margin-right: 15px;
}

.btn_done, .btn_delete {
    background: rgba(66, 184, 221, 0.33);
    border: 1px solid #000000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.btn_done,
.btn_delete:hover {
    cursor: pointer;
}
